<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass Dialer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css"> <!-- Załączamy nasz nowy plik CSS -->
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body class="bg-gray-100 flex h-screen">
    {% include 'sidebar.html' %} <!-- Przeniesiony sidebar do osobnego pliku -->
    
    <div class="flex-1 p-8 overflow-auto">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h1 class="text-3xl font-bold mb-8 text-center">Mass Dialer</h1>
            
            <!-- Statistics Section -->
            <div id="statistics" class="mb-16">
                <h2 class="text-2xl font-semibold mb-4">Call Statistics</h2>
                <div class="grid grid-cols-3 gap-4">
                    <div class="bg-blue-100 p-4 rounded-lg shadow">
                        <p class="text-lg font-bold">Total Calls</p>
                        <p class="text-2xl">{{ stats.total_calls }}</p>
                    </div>
                    <div class="bg-green-100 p-4 rounded-lg shadow">
                        <p class="text-lg font-bold">Successful Calls</p>
                        <p class="text-2xl">{{ stats.successful_calls }}</p>
                    </div>
                    <div class="bg-red-100 p-4 rounded-lg shadow">
                        <p class="text-lg font-bold">Failed Calls</p>
                        <p class="text-2xl">{{ stats.failed_calls }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Control Buttons -->
            <div id="controls" class="mb-16 flex justify-center space-x-4">
                <button onclick="startDialing()" class="btn btn-success">Start Dialing</button>
                <button onclick="stopDialing()" class="btn btn-danger">Stop Dialing</button>
            </div>


            
            
            <!-- Add Contacts Section -->
            <div id="add-contacts" class="mb-16">
                <h2 class="text-2xl font-semibold mb-4">Add Contacts</h2>
                <div id="upload-manual-entry" class="flex justify-between space-x-4">
                    <!-- File Upload Section -->
                    <div id="upload" class="w-1/2">
                        <h3 class="text-xl font-semibold mb-4">Upload Contacts CSV</h3>
                        <form action="/upload" method="post" enctype="multipart/form-data" class="space-y-4">
                            <input type="file" name="file" class="block w-full p-2 border rounded">
                            <button type="submit" class="btn">Upload</button>
                        </form>
                    </div>
                    
                    <!-- Manual Phone Number Entry -->
                    <div id="manual-entry" class="w-1/2">
                        <h3 class="text-xl font-semibold mb-4">Add Contact Manually</h3>
                        <form action="/add_contact" method="post" class="space-y-4">
                            <input type="text" name="phone" placeholder="Enter phone number" class="block w-full p-2 border rounded">
                            <button type="submit" class="btn">Add Contact</button>
                        </form>
                    </div>
                </div>
            </div>

             <!-- Contacts List Section -->
            

            <div id="contacts-list">
                <h2 class="text-2xl font-semibold mb-4">Contacts List</h2>
                <div class="flex justify-between items-center mb-4">
                    <div class="flex space-x-2">
                        <button onclick="clearAll()" class="btn btn-danger">Clear All</button>
                        <button onclick="removeSelected()" class="btn btn-danger">Remove Selected</button>
                    </div>
                    <div class="ml-auto flex space-x-2">
                        <!-- Przycisk Export CSV -->
                        <button onclick="exportCSV()" class="btn btn-export bg-green-500 text-white px-4 py-2 rounded">Export CSV</button>
                        <!-- Przycisk Archive Statistics -->
                        <form action="{{ url_for('archive_statistics_view') }}" method="post">
                            <button type="submit" class="btn btn-export bg-green-500 text-white px-4 py-2 rounded">Archive Statistics</button>
                        </form>
                    </div>
                </div>

                
                <!-- Filter Section -->
                <div class="flex space-x-4 mb-4">
                    <select id="status-filter" class="p-2 border rounded">
                        <option value="">All Statuses</option>
                        <option value="Not Called">Not Called</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Success">Success</option>
                        <option value="Failed">Failed</option>
                    </select>
                    <input type="text" id="reason-filter" placeholder="Filter by Reason" class="p-2 border rounded">
                    <button onclick="applyFilters()" class="btn">Apply Filters</button>
                </div>

               

                <table class="min-w-full bg-white border border-gray-200 table-auto table">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b"><input type="checkbox" id="select-all"></th>
                            <th class="py-2 px-4 border-b">No.</th>
                            <th class="py-2 px-4 border-b">Phone</th>
                            <th class="py-2 px-4 border-b">Status</th>
                            <th class="py-2 px-4 border-b">Reason</th>
                            <th class="py-2 px-4 border-b">Time</th>
                            <th class="py-2 px-4 border-b">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <td class="py-2 px-4 border-b"><input type="checkbox" class="contact-checkbox" data-phone="{{ contact.phone }}"></td>
                            <td class="py-2 px-4 border-b">{{ contact.number }}</td>
                            <td class="py-2 px-4 border-b">{{ contact.phone }}</td>
                            <td class="py-2 px-4 border-b">{{ contact.status }}</td>
                            <td class="py-2 px-4 border-b">{{ contact.reason }}</td>
                            <td class="py-2 px-4 border-b">{{ contact.time }}</td>
                            <td class="py-2 px-4 border-b">{{ contact.duration }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination Section -->
                <div class="flex justify-between items-center mt-4">
                    <a href="{{ url_for('dialer_view', page=current_page-1) }}" 
                       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded{% if current_page == 1 %} opacity-50 cursor-not-allowed{% endif %}"
                       {% if current_page == 1 %}onclick="return false;"{% endif %}>
                        Previous
                    </a>
                    
                    <span>Page {{ current_page }} of {{ total_pages }}</span>
                    
                    <a href="{{ url_for('dialer_view', page=current_page+1) }}" 
                       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded{% if current_page == total_pages %} opacity-50 cursor-not-allowed{% endif %}"
                       {% if current_page == total_pages %}onclick="return false;"{% endif %}>
                        Next
                    </a>
                </div>
                

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="mt-4">
                        {% for message in messages %}
                            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                <span class="block sm:inline">{{ message }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <script>
        let currentPage = 1;
        let totalPages = 1;
        const pageSize = 100;
        let fetchInterval = null;
        let filtersApplied = false; // Flag to track if filters are active
    
        function applyFilters() {
            const status = document.getElementById('status-filter').value;
            const reason = document.getElementById('reason-filter').value;
            currentPage = 1; // Reset to the first page when filters are applied
            filtersApplied = status !== '' || reason !== ''; // Determine if filters are active
    
            fetchStatuses(currentPage, status, reason, true);
        }
    
        function fetchStatuses(page = currentPage, status = '', reason = '') {
            console.log(`Fetching page: ${page}`);
            
            fetch(`/get_statuses?page=${page}&page_size=${pageSize}&status=${status}&reason=${reason}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Contacts data:", data.contacts);
                    console.log(`Fetched contacts for page: ${page}`);
                    console.log(`Current Page: ${currentPage}`);
                    console.log(`Total Pages: ${totalPages}`);


                    // Update contacts table
                    const tbody = document.querySelector('#contacts-list tbody');
                    tbody.innerHTML = '';
                    data.contacts.forEach((contact, index) => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td class="py-2 px-4 border-b"><input type="checkbox" class="contact-checkbox" data-phone="${contact.phone}"></td>
                            <td class="py-2 px-4 border-b">${(page - 1) * pageSize + index + 1}</td>
                            <td class="py-2 px-4 border-b">${contact.phone}</td>
                            <td class="py-2 px-4 border-b">${contact.status}</td>
                            <td class="py-2 px-4 border-b">${contact.reason}</td>
                            <td class="py-2 px-4 border-b">${contact.time || ''}</td>
                            <td class="py-2 px-4 border-b">${contact.duration || ''}</td>
                        `;
                        tbody.appendChild(row);
                    });

                    // Update pagination info
                    totalPages = Math.ceil(data.total_contacts / pageSize);
                    document.getElementById('page-info').innerText = `Page ${currentPage} of ${totalPages}`;

                    // Update pagination buttons state
                    document.getElementById('prev-button').disabled = currentPage <= 1;
                    document.getElementById('next-button').disabled = currentPage >= totalPages;
    
                    // Stop automatic refreshing if filters are applied
                    if (isFilterApplied) {
                        if (fetchInterval !== null) {
                            clearInterval(fetchInterval);
                            fetchInterval = null;
                            console.log("Auto-refresh stopped due to active filters.");
                        }
                    } else {
                        if (fetchInterval === null) {
                            startFetchInterval();
                        }
                    }
                })
                .catch(error => {
                    console.error("Error fetching statuses:", error);
                });
        }
        
        function startFetchInterval() {
            fetchInterval = setInterval(() => {
                if (!filtersApplied) { // Only auto-refresh if filters are not applied
                    fetchStatuses(currentPage);
                } else {
                    console.log("Auto-refresh skipped due to active filters.");
                }
            }, 15000);
        }
    
        function prevPage() {
            if (currentPage > 1) {
                currentPage -= 1;
                fetchStatuses(currentPage, document.getElementById('status-filter').value, document.getElementById('reason-filter').value);
                updatePagination();
            }
        }

        function nextPage() {
            if (currentPage < totalPages) {
                currentPage += 1;
                fetchStatuses(currentPage, document.getElementById('status-filter').value, document.getElementById('reason-filter').value);
                updatePagination();
            }
        }

        document.getElementById('prev-button').onclick = prevPage;
        document.getElementById('next-button').onclick = nextPage;

        function updatePagination() {
            document.querySelector('#prev-button').classList.toggle('opacity-50', currentPage <= 1);
            document.querySelector('#prev-button').classList.toggle('cursor-not-allowed', currentPage <= 1);
            document.querySelector('#next-button').classList.toggle('opacity-50', currentPage >= totalPages);
            document.querySelector('#next-button').classList.toggle('cursor-not-allowed', currentPage >= totalPages);
            document.getElementById('page-info').innerText = `Page ${currentPage} of ${totalPages}`;
        }
    
        function startDialing() {
            fetch('/start_dialing')
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                });
        }
    
        function stopDialing() {
            fetch('/stop_dialing')
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                });
        }
    
        function clearAll() {
            fetch('/clear_all')
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                });
        }
    
        function removeSelected() {
            const selectedPhones = Array.from(document.querySelectorAll('.contact-checkbox:checked')).map(cb => cb.dataset.phone);
            fetch('/remove_selected', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ phones: selectedPhones })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                });
        }
    
        function exportCSV() {
            window.location.href = '/export_csv';
        }
    
        const selectAllCheckbox = document.getElementById('select-all');
    if (selectAllCheckbox) {
        selectAllCheckbox.addEventListener('change', function() {
            const checkboxes = document.querySelectorAll('.contact-checkbox');
            checkboxes.forEach(cb => cb.checked = this.checked);
        });
    } else {
        console.error('Element select-all nie istnieje');
    }

    
        // Initial fetch
        applyFilters(); // Start from the first page and apply initial filters
        updatePagination(); // Aktualizuj paginację od razu na początku
    
        // Start the fetch interval
        startFetchInterval();
    </script>
</body>
</html>